
*{
    margin: 0;
    padding: 0;
}
 
table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
   
}
body{
    width: 100%;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(-45deg, #5bf3d2, #8cf0d7, #60ecc9);
}
 
#calendario{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 90px;
    width: min-content;
    align-items: center;
    color: #2b344b;
}